{{!-- Footer --}}
<div class="footer ">
    <div class="social ">
        <ul class="icon-ul ">
            <li class="icon-0 "><i class="fab fa-facebook "></i></li>
            <li class="icon-1 "><i class="fab fa-youtube "></i></li>
            <li class="icon-2 "><i class="fab fa-whatsapp "></i></li>
            <li class="icon-3 "><i class="fab fa-github "></i></li>
        </ul>
    </div>
    <div class="copyright shadow ">Copyright 2020</div>
</div